artifacttemplates/http%3A%2F%2Fopentosca.org%2Fartifacttemplates/DockerEngine_DockerEngine-Interface-w1/source/src/main/webapp/wsdl/org_opentosca_NodeTypes_DockerEngine__InterfaceDockerEngine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="org_opentosca_NodeTypes_DockerEngine__InterfaceDockerEngineService" targetNamespace="http://NodeTypes.opentosca.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://NodeTypes.opentosca.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://NodeTypes.opentosca.org/" elementFormDefault="unqualified" targetNamespace="http://NodeTypes.opentosca.org/" version="1.0">
<xs:element name="removeContainer" type="tns:removeContainer"/>
<xs:element name="startContainer" type="tns:startContainer"/>
<xs:complexType name="removeContainer">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="DockerEngineURL" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="DockerEngineCertificate" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="ContainerID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="startContainer">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="DockerEngineURL" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="DockerEngineCertificate" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="ContainerImage" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="ContainerPorts" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="ContainerEnv" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="ImageLocation" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="PrivateKey" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="Links" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="Devices" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="RemoteVolumeData" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="HostVolumeData" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="ContainerMountPath" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMIP" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMPrivateKey" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="removeContainer">
    <wsdl:part name="parameters" element="tns:removeContainer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startContainer">
    <wsdl:part name="parameters" element="tns:startContainer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="org_opentosca_NodeTypes_DockerEngine__InterfaceDockerEngine">
    <wsdl:operation name="removeContainer">
      <wsdl:input name="removeContainer" message="tns:removeContainer">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="startContainer">
      <wsdl:input name="startContainer" message="tns:startContainer">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="org_opentosca_NodeTypes_DockerEngine__InterfaceDockerEngineServiceSoapBinding" type="tns:org_opentosca_NodeTypes_DockerEngine__InterfaceDockerEngine">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="removeContainer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeContainer">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="startContainer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="startContainer">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="org_opentosca_NodeTypes_DockerEngine__InterfaceDockerEngineService">
    <wsdl:port name="org_opentosca_NodeTypes_DockerEngine__InterfaceDockerEnginePort" binding="tns:org_opentosca_NodeTypes_DockerEngine__InterfaceDockerEngineServiceSoapBinding">
      <soap:address location="http://localhost:9090/org_opentosca_NodeTypes_DockerEngine__InterfaceDockerEnginePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
