artifacttemplates/http%3A%2F%2Fopentosca.org%2Fartifacttemplates/KVM-QEMU-Hypervisor_CloudProviderInterface-w1/source/src/main/webapp/wsdl/org_opentosca_nodetypes_KVM_QEMU_Hypervisor__CloudProviderInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="org_opentosca_nodetypes_KVM_QEMU_Hypervisor__CloudProviderInterfaceService" targetNamespace="http://nodetypeimplementations.opentosca.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" elementFormDefault="unqualified" targetNamespace="http://nodetypeimplementations.opentosca.org/" version="1.0">
<xs:element name="createVM" type="tns:createVM"/>
<xs:element name="terminateVM" type="tns:terminateVM"/>
<xs:complexType name="createVM">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="HypervisorEndpoint" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="HypervisorUser" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="HypervisorPassword" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="HypervisorBridgeInterface" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMUserName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMUserPassword" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMDiskSize" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMVCPUS" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMRAM" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMOSType" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMOSVariant" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="terminateVM">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="HypervisorEndpoint" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="HypervisorUser" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="HypervisorPassword" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMInstanceID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createVM">
    <wsdl:part name="parameters" element="tns:createVM">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="terminateVM">
    <wsdl:part name="parameters" element="tns:terminateVM">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="org_opentosca_nodetypes_KVM_QEMU_Hypervisor__CloudProviderInterface">
    <wsdl:operation name="createVM">
      <wsdl:input name="createVM" message="tns:createVM">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="terminateVM">
      <wsdl:input name="terminateVM" message="tns:terminateVM">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="org_opentosca_nodetypes_KVM_QEMU_Hypervisor__CloudProviderInterfaceServiceSoapBinding" type="tns:org_opentosca_nodetypes_KVM_QEMU_Hypervisor__CloudProviderInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createVM">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createVM">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="terminateVM">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="terminateVM">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="org_opentosca_nodetypes_KVM_QEMU_Hypervisor__CloudProviderInterfaceService">
    <wsdl:port name="org_opentosca_nodetypes_KVM_QEMU_Hypervisor__CloudProviderInterfacePort" binding="tns:org_opentosca_nodetypes_KVM_QEMU_Hypervisor__CloudProviderInterfaceServiceSoapBinding">
      <soap:address location="http://localhost:9090/org_opentosca_nodetypes_KVM_QEMU_Hypervisor__CloudProviderInterfacePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
