artifacttemplates/http%3A%2F%2Fopentosca.org%2Fartifacttemplates/DockerContainer_ContainerManagementInterface-w1/source/src/main/webapp/wsdl/org_opentosca_nodetypes_DockerContainer__ContainerManagementInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="org_opentosca_nodetypes_DockerContainer__ContainerManagementInterfaceService" targetNamespace="http://nodetypes.opentosca.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypes.opentosca.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypes.opentosca.org/" elementFormDefault="unqualified" targetNamespace="http://nodetypes.opentosca.org/" version="1.0">
<xs:element name="runScript" type="tns:runScript"/>
<xs:element name="transferFile" type="tns:transferFile"/>
<xs:complexType name="runScript">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="DockerEngineURL" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="DockerEngineCertificate" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="ContainerID" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="Script" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="transferFile">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="DockerEngineURL" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="DockerEngineCertificate" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="ContainerID" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="TargetAbsolutePath" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="SourceURLorLocalPath" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="transferFile">
    <wsdl:part name="parameters" element="tns:transferFile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="runScript">
    <wsdl:part name="parameters" element="tns:runScript">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="org_opentosca_nodetypes_DockerContainer__ContainerManagementInterface">
    <wsdl:operation name="runScript">
      <wsdl:input name="runScript" message="tns:runScript">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="transferFile">
      <wsdl:input name="transferFile" message="tns:transferFile">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="org_opentosca_nodetypes_DockerContainer__ContainerManagementInterfaceServiceSoapBinding" type="tns:org_opentosca_nodetypes_DockerContainer__ContainerManagementInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="runScript">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="runScript">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="transferFile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="transferFile">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="org_opentosca_nodetypes_DockerContainer__ContainerManagementInterfaceService">
    <wsdl:port name="org_opentosca_nodetypes_DockerContainer__ContainerManagementInterfacePort" binding="tns:org_opentosca_nodetypes_DockerContainer__ContainerManagementInterfaceServiceSoapBinding">
      <soap:address location="http://localhost:9090/org_opentosca_nodetypes_DockerContainer__ContainerManagementInterfacePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
