artifacttemplates/http%3A%2F%2Fopentosca.org%2Fartifacttemplates/KVM-QEMU-VM_OperatingSystemInterface-w1/source/src/main/webapp/wsdl/org_opentosca_nodetypes_KVM_QEMU_VM__OperatingSystemInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="org_opentosca_nodetypes_KVM_QEMU_VM__OperatingSystemInterfaceService" targetNamespace="http://nodetypeimplementations.opentosca.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" elementFormDefault="unqualified" targetNamespace="http://nodetypeimplementations.opentosca.org/" version="1.0">
<xs:element name="runScript" type="tns:runScript"/>
<xs:element name="transferFile" type="tns:transferFile"/>
<xs:element name="waitForAvailability" type="tns:waitForAvailability"/>
<xs:complexType name="transferFile">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="VMIP" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMUserName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMUserPassword" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="SourceURLorLocalPath" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="TargetAbsolutePath" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="waitForAvailability">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="VMIP" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMUserName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMUserPassword" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="runScript">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="VMIP" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMUserName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="VMUserPassword" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="Script" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="transferFile">
    <wsdl:part name="parameters" element="tns:transferFile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="waitForAvailability">
    <wsdl:part name="parameters" element="tns:waitForAvailability">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="runScript">
    <wsdl:part name="parameters" element="tns:runScript">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="org_opentosca_nodetypes_KVM_QEMU_VM__OperatingSystemInterface">
    <wsdl:operation name="transferFile">
      <wsdl:input name="transferFile" message="tns:transferFile">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="waitForAvailability">
      <wsdl:input name="waitForAvailability" message="tns:waitForAvailability">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="runScript">
      <wsdl:input name="runScript" message="tns:runScript">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="org_opentosca_nodetypes_KVM_QEMU_VM__OperatingSystemInterfaceServiceSoapBinding" type="tns:org_opentosca_nodetypes_KVM_QEMU_VM__OperatingSystemInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="transferFile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="transferFile">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="waitForAvailability">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="waitForAvailability">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="runScript">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="runScript">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="org_opentosca_nodetypes_KVM_QEMU_VM__OperatingSystemInterfaceService">
    <wsdl:port name="org_opentosca_nodetypes_KVM_QEMU_VM__OperatingSystemInterfacePort" binding="tns:org_opentosca_nodetypes_KVM_QEMU_VM__OperatingSystemInterfaceServiceSoapBinding">
      <soap:address location="http://localhost:9090/org_opentosca_nodetypes_KVM_QEMU_VM__OperatingSystemInterfacePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
